.data-item
  @media screen and (max-width: 768px)
    padding-top: 4em !important
  @media screen and (min-width: 768px)
    padding-top: 6em !important

.data-item-hidden
  width: 0 !important
  height: 0 !important
  display: none !important


.masonry.grid
  @media only screen and (max-width: 767px)
    margin: auto !important

  @media only screen and (min-width: 768px)
    display: block
    -webkit-column-count: 1
    -moz-column-count: 1
    column-count: 1
    -webkit-column-gap: 0
    -moz-column-gap: 0
    column-gap: 0
  @media only screen and (min-width: 992px) 
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
  @media only screen and (min-width: 1080px) 
    -webkit-column-count: 4
    -moz-column-count: 4
    column-count: 4
  
.ui.doubling.masonry.grid > .column
  width: 100% !important